
// had to add #menu because of clipping
.hero-nav-overlay, #menu {

    .container {
        padding: 0 36px;
    }

    // general styling
    background-color: #247A74;

    .navbar {
        margin: 0;
        padding: 0;
    }

    // nav general nav link styling
    .navbar-nav .nav-link {
        font-size: 1rem;
        line-height: 1.2;
        padding: 8px;
        padding-right: 0;
        color: white;
        font-weight: 400;

        @media (max-width: 340px) {
            font-size: 1rem;
        }
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }

    // logo sizing
    .nav-logo img {
        width: 150px;
        height: auto;
    }

    // active link
    .navbar-nav li.active:not(#menu-item-26) .nav-link {
        color: white;
        font-weight: 500;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: -3px;
            left: 0;
            height: 2px;
            background-color: $primary;
        }
    }

    @include media-breakpoint-down(xl) {

        .dropdown-toggle::after {
            display: none;
        }

        // expand dropdown for mobile
        .dropdown-menu {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0 0 0 1.5rem;
        }

    }

    @include media-breakpoint-up(md) {

        // logo sizing
        .nav-logo img {
            width: 180px;
            height: auto;
        }
    }

    .drop-down-active {
        color: $primary;
        font-weight: 500;

        .dropdown-menu {
            min-width: 200px;
        }

        .nav-link {
            position: relative;
            color: $primary;

            &:hover {
                color: $primary;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                bottom: -3px;
                left: 0;
                height: 2px;
                background-color: $primary;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .navbar-nav li.active .nav-link {
            position: relative;
            color: lighten($secondary,15%);
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.05rem;

            &::before {
                content: '';
                background: white;
                height: 60%;
                width: 2px;
                position: absolute;
                left: -4px;
                top: 20%;
                bottom: 20%;
            }
        }
    }

    @include media-breakpoint-up(xxl) {

        .navbar-nav li.active .nav-link {
            color: $primary;
        }

        .dropdown.show {
            background-color: $primary;
            & > .nav-link {
                color: white !important;
            }
        }

        .navbar-nav .menu-item.show > .nav-link {
            background: transparent;
            color: $dark;
        }

        .navbar-nav .nav-item {
            padding: $spacer $spacer*.5;
        }

        .navbar-nav .nav-link {
            padding: 0;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: white;
            width: 100%;
            padding: 0;

            .nav-item {
                padding: 0 !important;
            }

            & > .menu-item > .nav-link {
                padding: $spacer/2 $spacer*.75;
                font-family: $font-family-sans-serif;
                color: $body-color;
                font-size: .99rem;
                border-bottom: 1px solid $secondary;
            }
            li.active .nav-link {
                background-color: $secondary;
                color: white;
                &::after, &::before {
                    background-color: transparent;
                }
            }
        }


        // logo sizing
        .nav-logo img {
            width: 305px;
            height: auto;
        }

        .container {
            padding: 0;
        }
    }

    @include media-breakpoint-up(xxxl) {

        .navbar-nav .nav-link {
            color: white;
            font-weight: 300;
        }

        .navbar-nav .nav-item {
            padding: $spacer $spacer*.75;
        }

    }

}

// nav .home color specific

.hero-nav-overlay.header--full-height {

    min-height: 518px;

    @include media-breakpoint-up(md) {

        height: 100vh;
        height: calc(100vh - 50px);
        min-height: 600px;

    }


    @include media-breakpoint-up(xxl) {

        height: 100vh;
        min-height: 800px;

        .navbar-nav .nav-link {
            color: $dark;
            font-weight: 400;
        }

    }

}

.header__entry-section {

    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    @include media-breakpoint-between(md,lg) {
        max-width: 70%;
        left: 15%;
        right: 15%;
    }

    @include media-breakpoint-up(lg) {
        right: 16px;
        max-width: 812px;
    }
}
.header__entry-content {
    h1 {
        @include media-breakpoint-down(md) {
            font-size: 1.4rem;
        }
    }
}

// header clipping
.header--bg-clip {
    padding-bottom: $spacer*2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);

    @include media-breakpoint-up(md) {
        padding-bottom: $spacer*3;
        clip-path: polygon(0 0, 100% 0, 100% 98%, 0 90%);
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: $spacer*4;
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 85%);
    }
}

// mobile total override
.panel {
    overflow-y: scroll;
}

.push {
    @include media-breakpoint-up(xxl) {
        right: 0 !important;
    }
}

.page.page-id-21 {
    #menu-item-26 a {
        &::after {

        }
    }
}