// general layout for page template

.page, .development-template-default {

    .container {
        max-width: 1380px;//1574
        margin-left: auto;
        margin-right: auto;
    }

    .alignleft {
        margin-right: $spacer*1.85;

        @include media-breakpoint-between(md,lg) {
            margin-right: $spacer*.75;
        }

        @include media-breakpoint-up(xxl) {
            margin-right: $spacer*3.6;
        }
    }

    .alignleft,
    .alignright {
        margin-top: 0;
        margin-bottom: 0;

        @include media-breakpoint-up(xl) {
            margin-top: -10px;
        }
    }

    .alignright {

        @include media-breakpoint-between(md,lg) {
            margin-left: $spacer*.75;
        }

        margin-left: $spacer*1.85;

        @include media-breakpoint-up(xxl) {
            margin-left: $spacer*3.6;
        }
    }

    // remove floats for md down
    @include media-breakpoint-down(sm) {

        .alignleft,
        .alignright {
            float: none !important;
            margin-left: 0;
            margin-right: 0;
        }

    }

    p {

        @include media-breakpoint-up(xl) {
            display: table;
        }

    }

    p + .wp-block-image  {
        clear: both;
    }

    .wp-block-image  {

        margin-top: 0;

        img {
            max-width: 100%;
            padding: 14px;
            height: auto;
            box-shadow: 0px 3px 6px #00000029;
            background-color: rgba(white,.7);

            @include media-breakpoint-up(md) {
                max-width: 286px;
                padding: 18px;
            }
            @include media-breakpoint-only(md) {
                margin-top: -12px;
            }

            @include media-breakpoint-up(lg) {
                max-width: 386px;
                padding: 29px;
            }

            @include media-breakpoint-up(xxl) {
                max-width: 593px;
                padding: 29px;
                margin-bottom: $spacer;
            }
        }

        &.gk-center-break {

            img {
                max-width: 100%;
                padding: 14px;
                height: auto;
                box-shadow: 0px 3px 6px #00000029;
                background-color: rgba(white,.7);
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: $spacer*2;

                @include media-breakpoint-up(md) {
                    max-width: 80%;
                    padding: 18px;
                }
                @include media-breakpoint-only(md) {
                    margin-top: 0;
                }

                @include media-breakpoint-up(lg) {
                    max-width: 76%;
                    padding: 29px;
                }

            }

        }

    }

}

// blog

.blog-listing__img {
    height: $spacer*20;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.compat-object-fit {
    background-size: cover;
    background-position: center center;

    & > .img__object,
    & > .blog-listing__item > .blog-listing__img {
        opacity: 0;
    }

    & > .blog-listing__item {
        display: block;
    }
}

.next-prev_container {
    .row {
        @include media-breakpoint-up(lg) {
            max-width: 66.66667%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

ol.list-styled {
    padding-left: 1.05rem;
    margin-bottom: .5rem;
}

//******* Gutenberg *********//

.wp-block-image  img {
    height: auto;
}

.has-medium-font-size {
    @extend .lead;
    font-weight: normal;

    strong {
        font-weight: 700;
    }
}

@media (max-width:1200px) {
    .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media,
    .wp-block-media-text .wp-block-media-text__media {
        grid-row: none;
    }
}

