// Responsive font sizing
html {
    font-size: 16px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.625;
}

.small, small {
    font-size: 0.9375rem;
    line-height: 1.66;

    // iphone 5
    @media (max-width: 340px) {
        font-size: 0.88rem;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .75px;
}

h1, .h1 {
    font-size: 2.25rem;
    line-height: 1.2;

    // iphone 5
    @media (max-width: 340px) {
        font-size: 1.75rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2.5rem;
    }
}

h2, .h2 {
    font-size: 1.87rem;

    // iphone 5
    @media (max-width: 340px) {
        font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2.5rem;
    }
}

h3, .h3 {
    font-size: 1.12rem;
    line-height: 1.33;

    // iphone 5
    @media (max-width: 340px) {
        font-size: 1.075rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.875rem;
    }

}

h4, .h4 {
    //border: 1px solid red;
    font-size: 1rem;
    line-height: 1.45;

    // iphone 5
    @media (max-width: 340px) {}

    @include media-breakpoint-up(lg) {
        font-size: 1.2rem;
    }
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    margin-bottom: $spacer;
    @media (max-width: 340px) {
        font-size: .925rem;
    }
}

.italic-header {
    font-family: $headings-font-family;
    font-weight: 600;
    font-style: italic;
}

.font-pop {
    font-family: $font-family-sans-serif;
    font-weight: 500;
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.lead strong {
    font-weight: 600;
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}

p:empty { display:none; }

.text-decoration--none {
    text-decoration: none !important;
}