// Bootstrap
@import "bootstrap-custom";

// Base
@import "base/typography";
@import "base/global";

// Layouts
@import "layouts/header";
@import "layouts/content";
@import "layouts/footer";

// Components
@import "components/button";
@import "components/form";
@import "components/gutenberg";
@import "components/ghostkit";
@import "components/hamburgers";


.border-red {
    border: 1px solid red !important;
}
.border-green {
    border: 1px solid green !important;
}
.border-cyan {
    border: 1px solid cyan !important;
}

.border-pink {
    border: 1px solid pink !important;
}

.border-brown {
    border: 1px solid brown !important;
}

.border-black {
    border: 1px solid black !important;
}

